<a href="https://colab.research.google.com/github/Panchyajanya108/Machine-Learning-Projects/blob/main/50_startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing the libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing the diabetes dataset
data=pd.read_csv('/content/50 Startup data.csv')

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [4]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
Profit             0
dtype: int64

In [6]:
#initiating the variables
X=data.drop(['Profit'], axis=1)
Y=data['Profit'].values.reshape(-1,1)

Splitting data training and testing dataset

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=42)

In [9]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train
X_test

array([[ 0.40045135,  0.48698777,  0.22829319],
       [-0.73915001, -1.5753814 , -0.44533044],
       [-0.23932362, -0.2927403 , -1.17275011],
       [-1.5401674 ,  0.04154642, -1.9466526 ],
       [ 0.45728375,  0.8633266 ,  0.48770865],
       [-1.54993915, -2.8022443 , -1.96316611],
       [ 0.04506316,  0.82634666, -0.80049873],
       [-0.18237477,  0.64636322, -0.76656369],
       [-0.20915869,  0.24052842, -1.56345116],
       [ 0.28160082,  1.19465877, -1.96316611],
       [ 0.44036245,  0.16593898,  0.20378663],
       [ 1.46926884, -1.24510373,  1.21275224],
       [-0.62160577, -2.82031051, -0.25425481],
       [ 1.00934906,  1.00633599,  0.73957479],
       [ 1.51757671, -0.17371917,  1.36047034]])

Using Linear Regression

---

In [10]:
## Training the model with logistic regression
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(X_train, Y_train)

LinearRegression()

In [12]:
#testing the model 
y_pred = mlr.predict(X_test)

Checking the Results of Accuracy

In [13]:
#checking the accuracy
from sklearn.metrics import r2_score
r2_score(Y_test,y_pred)

0.9418819530700164