<a href="https://colab.research.google.com/github/Panchyajanya108/Machine-Learning-Projects/blob/main/Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing the libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing the diabetes dataset
data=pd.read_csv('/content/Salary Data.csv')

In [3]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
data.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [6]:
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [8]:
#initiating the variables
X=data['YearsExperience'].values.reshape(-1,1)
Y=data['Salary'].values.reshape(-1,1)

Splitting data training and testing dataset

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=42)

Using Linear Regression

---

In [10]:
## Training the model with logistic regression
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, Y_train)

LinearRegression()

In [12]:
#testing the model 
y_pred = lr.predict(X_test)

Checking the Results of Accuracy

In [14]:
#finding out the r2 value 
from sklearn.metrics import r2_score
r2_score(Y_test,y_pred)

0.9414466227178214